
 .uploadInput {
    border: 2px dashed rgb(187, 187, 187) !important;
    border-radius: 6px !important;
    height: 300px !important;
    cursor: pointer !important;
    position: relative !important;
    margin: 0px !important;
    padding: 20px !important;
    width: 100% !important;
    display: table !important;
    text-align: center;
  }