#Footer{
    background-color: #F7F7F7 ;
    border-top: 1px solid #DDD;
    color: rgb(34, 34, 34);
}
#Footer h5{
    margin-bottom: 25px;
}

#Footer .website-links p{
    font-weight: 400;
}

#Footer .website-links p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#Footer .divider{
    height: 1px;
    width: 100%;
    background-color: #DDD;
}

#Footer .footer-options{
    margin-left: auto;
}
#Footer .underline{
    text-decoration: underline;
}
#Footer .language, #Footer .currency{
    font-weight: 600;
    cursor: pointer;
}
@media(max-width: 768px){
    #Footer .copy{
        margin: auto;
        margin-bottom: 15px;
    }
    #Footer .footer-options{
        margin: auto;
    }
    
}